@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-footer-bg: #0D1B2A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-proxima: "Proxima Nova";
  --color-primary: #0769B9;
  --color-primary-dark: #1565C0;
  --color-navy: #003755;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
